<% include partials/header %>

            <h1>Welcome to Yelpcamp!</h1>
            <p>Here you can find camps form everywhere!!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds">Add a new campgrounds!</a>
            </p>
  
<% include partials/footer %>